  <div class="fondo">
    <div class="container-fluid">
      <div id="Inicio" class="scroll_section">
       <img src="images/Coffeebanner1.png" class="img-fluid">
     </div>




     <!--Nosotros-->
     <div class="row my-3">
      <div id="Nosotros" class="col-md-5 offset-md-2 py-3 scroll_section">
       <h1 class="PresentacionTitulo">Nosotros</h1>
       <p class="Presentacion">
        <strong>Bienvenid@ a Coffee Design</strong>...<br>
        Mi nombre es Santiago Laya y soy diseñador digital,<br>
        actualmente estudiante de la UDE (Universidad del Este BS. AS.)<br>
        realizamos diseños de logos hasta páginas web personalizadas,<br>
        si quieres ver algunos de nuestros diseños haz <a href="">Click Aquí</a>.<br>
      </p>
    </div>

    <div class="col-md-3 my-3"> 
      <div class="rounded py-5 opiniones">
        <h2 class="text-center">Opiniones</h2>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption">
                <h5>Mariano, Díaz.</h5>
                <p><strong>Muy bueno el diseño</strong></p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <h5>Romina, Ortega.</h5>
                <p><strong>Gracias por la tarjeta!</strong></p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <h5>Martina, angeloti.</h5>
                <p><strong>Recomendadísimo!!!</strong></p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div> <!--Cierre de div opiniones-->
  </div> <!--Cierre de div nosotros y opiniones-->

  <!--Inicio de Contacto-->
  <div id="Contacto" class="row py-4 scroll_section">
    <div class="col-md-4 offset-md-2">
      <h2 class="contacto">Contacto</h2>
      <form class="row g-3" action="/" method="post">
        <div class="col-md-6">
          <label for="nombre" class="form-label"></label>        
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre">
        </div>
        <div class="col-md-6">
          <label for="apellido" class="form-label"></label>        
          <input type="text" class="form-control" id="apellido" placeholder="Tu apellido" name="apellido">
        </div>
        <div class="col-md-6">
          <label for="Email" class="form-label"></label>        
          <input type="email" class="form-control" id="email" placeholder="Tu e-mail" name="email">
        </div>
        <div class="col-md-6">
          <label for="telefono" class="form-label"></label>        
          <input type="text" class="form-control" id="telefono" placeholder="Tu teléfono" name="telefono">
        </div>
        <div class="col-md-6">
          <label for="tumarca" class="form-label"></label>        
          <input type="text" class="form-control" id="tumarca" placeholder="Nombre de tu negocio o marca" name="nombredenegocio">
        </div>
        <div class="col-md-6">
          <label for="tuinstagram" class="form-label"></label>        
          <input type="text" class="form-control" id="tuinstagram" placeholder="¿Dónde te encontramos?" name="contacto">
        </div>
        <div class="col-md-12">
          <label for="mensaje" class="form-label"></label>        
          <textarea class="form-control" id="mensaje" rows="3" placeholder="¿Qué necesitas en tu negocio?" name="Necesidad"></textarea>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      <p>{{message}}</p>
    </div>

    <div class="card">
      <img src="images/Logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee Design</h5>
        <h6 class="card-subtitle">Santiago Laya</h6>
        <p class="card-text">+54 11 5345-3312<br>
         designweblaya@gmail.com<br>
         Quilmes, Buenos aires.<br>
       </p>
       <a href="https://instagram.com/coffee__designer?igshid=NDk5N2NlZjQ="><img src="images/instagramcircle.png"></img></a>
       <a href="https://wa.me/message/NYUVYAO7ACBGI1"><img class="logowhatsapp" src="images/whatsapp.png"></img></a>
     </div>
   </div> <!--cierre div class card-->
 </div><!--Fin de Contacto-->


 <!--Inicio de Diseños-->

 <div class="row my-3">
  <div id="Diseños" class="col-md-5 offset-md-2 py-3 scroll_section">
   <h1 class="PresentacionTitulo">Diseños</h1>
   <p class="Presentacion">
    <strong>Identidad de marca.</strong><br>
    Aquí podrás ver los diseños más solicitados,<br>
    no dudes en contactarnos y preguntar por el que gustes.<br>
  </p>
</div>
</div>


<div class="diseñosss">

  {{#each novedades}}
  <div id="diseñoss" class="diseños diseñosss">
    <div class="col">
      <div class="diseñossscenter" style="width: 18rem;">
        <img src="images/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{titulo}}</h5>
          <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}" class="btnmasinfo btn btn-outline-primary">¡Más Info!</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each novedades}}
  <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{titulo}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>{{subtitulo}}</h4>

          <p>{{cuerpo}}</p>
        </div>

      </div>
    </div> 
  </div>
    {{/each}}
    <!-- Fin Modal -->

</div>
<!--Cierre de Diseños-->
</div> <!--Cierre de container fluid-->
</div> <!--Cierre de fondo-->
